csp/data/ui/window_document.xsd

<?xml version="1.0"?>
<!-- 
This schema is describing all properties of all widgets. It is easy to 
validate xml for our windows with this schema. All complexType:s found
in this document has the same inheritence as the cpp-classes.
 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WindowDocument" type="WindowDocument_t" />
  <xsd:element name="StyleDocument" type="StyleDocument_t" />
  <xsd:element name="StringTableDocument" type="StringTableDocument_t" />

  <xsd:complexType name="StringTableDocument_t">
  	<xsd:sequence>
  		<xsd:element name="Strings" minOccurs="0"> 
  			<xsd:complexType>
  				<xsd:sequence>
  					<xsd:element name="String" type="StringKey_t" maxOccurs="unbounded" />
  				</xsd:sequence>
  			</xsd:complexType>
  		</xsd:element>
  	</xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="StringKey_t">
  	<xsd:complexContent>
  		<xsd:extension base="xsd:string">
  			<xsd:attribute name="key" type="xsd:string "/>
  		</xsd:extension>
  	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="StyleDocument_t">
    <xsd:sequence>
      <xsd:element name="NamedStyles">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Style" type="NamedStyle_t" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Style_t">
    <xsd:sequence>
      <xsd:element name="FontFamily" type="xsd:string" minOccurs="0" />
      <xsd:element name="FontSize" type="xsd:double" minOccurs="0" />
      <xsd:element name="Color" type="xsd:string" minOccurs="0" />
      
      <xsd:element name="BackgroundColor" type="xsd:string" minOccurs="0" />
      <xsd:element name="BackgroundColorTopLeft" type="xsd:string" minOccurs="0" />
      <xsd:element name="BackgroundColorTopRight" type="xsd:string" minOccurs="0" />
      <xsd:element name="BackgroundColorBottomLeft" type="xsd:string" minOccurs="0" />
      <xsd:element name="BackgroundColorBottomRight" type="xsd:string" minOccurs="0" />

      <xsd:element name="BackgroundImage" type="xsd:string" minOccurs="0" />

      <xsd:element name="BorderWidth" type="xsd:double" minOccurs="0" />
      <xsd:element name="BorderTopWidth" type="xsd:double" minOccurs="0" />
      <xsd:element name="BorderBottomWidth" type="xsd:double" minOccurs="0" />
      <xsd:element name="BorderLeftWidth" type="xsd:double" minOccurs="0" />
      <xsd:element name="BorderRightWidth" type="xsd:double" minOccurs="0" />

      <xsd:element name="BorderColor" type="xsd:string" minOccurs="0" />
      <xsd:element name="BorderTopColor" type="xsd:string" minOccurs="0" />
      <xsd:element name="BorderBottomColor" type="xsd:string" minOccurs="0" />
      <xsd:element name="BorderLeftColor" type="xsd:string" minOccurs="0" />
      <xsd:element name="BorderRightColor" type="xsd:string" minOccurs="0" />

      <xsd:element name="Visible" type="xsd:boolean" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NamedStyle_t">
    <xsd:complexContent>
      <xsd:extension base="Style_t">
        <xsd:attribute name="Name" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- This is the start of the descritions of all elements that can be
  used within a window document. -->
  <xsd:complexType name="WindowDocument_t">
    <xsd:sequence>
      <xsd:element name="Includes" type="Includes_t" minOccurs="0"/>
      <xsd:element name="Window" type="Window_t" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Includes_t">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="StringTableInclude" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:element name="StyleInclude" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="Button_t">
    <xsd:complexContent>
      <xsd:extension base="SingleControlContainer_t">
        <xsd:attribute name="Text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="CheckBox_t">
    <xsd:complexContent>
      <xsd:extension base="Control_t">
        <xsd:attribute name="Text" type="xsd:string" />
        <xsd:attribute name="Checked" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- This is the base class of all controls. These settings is optional on all controls. -->
  <xsd:complexType name="Control_t">
    <xsd:sequence>
      <xsd:element name="Style" type="Style_t" minOccurs="0" />
    </xsd:sequence>
    <xsd:attribute name="Id" type="xsd:string" use="optional" />
    <xsd:attribute name="Enabled" type="xsd:boolean" use="optional" />
    <xsd:attribute name="CssClass" type="xsd:string" use="optional" />
    <xsd:attribute name="SizeWidth" type="xsd:double" use="optional" />
    <xsd:attribute name="SizeHeight" type="xsd:double" use="optional" />
    <xsd:attribute name="LocationX" type="xsd:double" use="optional" />
    <xsd:attribute name="LocationY" type="xsd:double" use="optional" />
    <xsd:attribute name="LocationZ" type="xsd:double" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="Container_t">
    <xsd:complexContent>
      <xsd:extension base="Control_t">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="Label_t">
    <xsd:complexContent>
      <xsd:extension base="Control_t">
        <xsd:attribute name="Text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="ListBox_t">
    <xsd:complexContent>
      <xsd:extension base="Container_t">
        <xsd:sequence>
          <xsd:element name="Items" type="ListBoxItems_t" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ListBoxItems_t">
    <xsd:sequence>
      <xsd:element name="Item" type="ListBoxItem_t" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListBoxItem_t">
    <xsd:complexContent>
      <xsd:extension base="SingleControlContainer_t">
        <xsd:sequence>
          <xsd:element name="SelectedStyle" type="Style_t" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="Text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:group name="SingleControl_t">
    <xsd:choice>
      <xsd:element name="Button" type="Button_t" />
      <xsd:element name="CheckBox" type="CheckBox_t" />
      <xsd:element name="Label" type="Label_t" />
      <xsd:element name="ListBox" type="ListBox_t" />
      <xsd:element name="MultiControlContainer" type="MultiControlContainer_t" />
      <xsd:element name="Tab" type="Tab_t" />
      <xsd:element name="TableControlContainer" type="TableControlContainer_t" />
    </xsd:choice>
  </xsd:group>

  <xsd:complexType name="SingleControlContainer_t">
    <xsd:complexContent>
      <xsd:extension base="Container_t">
        <xsd:sequence>
          <xsd:element name="Control" minOccurs="0">
            <xsd:complexType>
              <xsd:group ref="SingleControl_t" minOccurs="0" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- This class represents a control that can contain several child controls. -->
  <xsd:complexType name="MultiControlContainer_t">
    <xsd:complexContent>
      <xsd:extension base="Container_t">
        <xsd:sequence>
          <xsd:element name="Controls" type="MultiControlCollection_t" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- This class represents a collection with several controls. -->
  <xsd:complexType name="MultiControlCollection_t">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:group ref="SingleControl_t" minOccurs="0" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="Tab_t">
    <xsd:complexContent>
      <xsd:extension base="Container_t">
        <xsd:sequence>
          <xsd:element name="Pages" type="TabPages_t" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TabPages_t">
    <xsd:sequence>
      <xsd:element name="Page" type="TabPage_t" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TabPage_t">
    <xsd:complexContent>
      <xsd:extension base="SingleControlContainer_t">
        <xsd:attribute name="Text" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableControlContainer_t">
    <xsd:complexContent>
      <xsd:extension base="Container_t">
        <xsd:sequence>
          <xsd:element name="ColumnDefinitions">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Column" type="TableControlContainerColumn_t" minOccurs="1" maxOccurs="unbounded" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="RowDefinitions">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Row" type="TableControlContainerRow_t" minOccurs="0" maxOccurs="unbounded" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Table">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Cell" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:group ref="SingleControl_t" minOccurs="0"/>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="CellPaddingLeft" type="xsd:double" use="optional" />
        <xsd:attribute name="CellPaddingTop" type="xsd:double" use="optional" />
        <xsd:attribute name="CellPaddingRight" type="xsd:double" use="optional" />
        <xsd:attribute name="CellPaddingBottom" type="xsd:double" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableControlContainerColumn_t">
    <xsd:attribute name="Width" type="xsd:double" />
  </xsd:complexType>

  <xsd:complexType name="TableControlContainerRow_t">
    <xsd:attribute name="Height" type="xsd:double" />
  </xsd:complexType>

  <xsd:complexType name="Window_t">
    <xsd:complexContent>
      <xsd:extension base="SingleControlContainer_t">
        <xsd:sequence>
          <xsd:element name="Styles" minOccurs="0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Style" type="NamedStyle_t" minOccurs="0" maxOccurs="unbounded" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>    
  </xsd:complexType>
</xsd:schema>
